################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/test/.vs
/test/node_modules
/UpSchemaForm/.vs
/UpSchemaForm/node_modules
